



a {
    text-decoration: none;
    color:black;
    font-size: .9em;
    font-weight: 600;
}

a:hover {
    color: #007dd1;
}

p a {
    font-size: 2em;
    padding: 0 30px;
}




body {
   background: #111111;
   width: 100%;
   margin:0 auto;
   padding:0px;
   scrollbar-width: thin;
 scrollbar-color: grey black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 12px;
 }
 
 *::-webkit-scrollbar-track {
   background: black;
 }
 
 *::-webkit-scrollbar-thumb {
   background-color: #111111;
   border-radius: 20px;
   border: 1px solid #007dd1;
 }


/* navigation */ 

.navcontainer {
    display: flex;
    padding: 50px 0 0px 0;
    font-family: 'Sora', sans-serif;
    width: 65%;
    color: white;
    margin: 0px auto;
}

.navcontainer a {
    color: white;
}


.title {
    height:40px;
    display: flex;
    align-items: center;
    font-family:'Roc', sans-serif;
    font-size:1.5em;
    font-weight: 900;
}

.middle-nav {
    height:40px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    flex:1;

}


.home, .market, .blog {
    padding-right: 30px;
}

.home:hover, .market:hover, .blog:hover {
    color: rgb(255, 253, 117);
}

.home {
    padding-left: 70px;
}

.right-nav {
    height:40px;
    margin-top: 50px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}


.navbutton, .connect, .EN {
    border: 0px solid;
    padding: 5px 10px;
    box-shadow: 5px 5px 0px -1px #007dd1;
    -webkit-box-shadow: 5px 5px 0px -1px #007dd1;
    -moz-box-shadow: 5px 5px 0px -1px #007dd1;
}

.navbutton-two {
    position: relative;
    margin-left: 10px;
    padding: 5px 0px 0px 500px;
    border-radius: 0%;
}


.connect {
    font-size: 1em;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 1px;
    background-color: #c6fb6e;
}

.EN {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: white;
    color: black;
    border-radius: 100%;
}

.right-nav i {
    color: black;
}

.navbutton-two a:hover {
    color: #007dd1;
}

.navbutton-two i:hover {
    color: #007dd1;
}

 

.overlay {
    background-color: rgba(66, 45, 45, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}



/* Container */

.AboutUs {
    flex: 1;
    font-family:'Sora', sans-serif;
    font-size:3em;
    font-weight: 700;
    line-height: 150%;
    margin: 50px;
    text-align: center;
    color: #ffeea0;
    font-family: 'Paytone One', sans-serif;
}

.FAQTitle {
    flex: 1;
    font-family:'RocMedium', sans-serif;
    font-size:1.2em;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    color: white;
    font-family: 'Paytone One', sans-serif;
}

.FAQContainer {
    width: 65%;
    margin: 0 auto;
    font-family:'RocMedium', sans-serif;
    font-size:1.5em;
    font-weight: 500;
    display: flex;
    display: column;
}

.FAQColumn {
    flex: 1;
}


.FAQExpanded {
    display: flex;
    flex-direction: column;
}


.FAQExpandedContainer {
    margin: 30px 0 60px 0;
    background: white;

}


.FAQExpandedContent {
flex: 1;
display: flex;
width: 100%;
background-color: #111111;
}


.Answer {
    flex:1;
    padding: 30px 0;
    width: 100%;
    background-color: white;
    font-family:'sora', sans-serif;
    font-size: .8em;
    font-weight: 500;
    overflow: hidden;
    z-index: 0;
    position: relative;
    box-shadow: 7px 7px 0px -1px #007dd1;
    -webkit-box-shadow: 7px 7px 0px -1px #007dd1;
    -moz-box-shadow: 7px 7px 0px -1px #007dd1;
}

.Answer p {
    padding: 20px 30px;
    background: white;
    text-align: center;
    font-weight: 600;
}

.Answer img {
    width: 100%;
    height: 440px;
}





/* Form */

form {
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

input, textarea {
    width: 90%;
}

input {
    height: 30px;
}

textarea {
    height: 100px;
}

label p {
    color: #007dd1;
    font-weight: 600;
}

form button {
    margin-top: 10px;
    margin-bottom: 10px;
}




/* edits for responsiveness */

.fa-solid.fa-bars {
    display: none;
}

.title button {
    background: transparent;
    border-style: none;
    text-align: left;
}

.dropdown .home, .dropdown .market, .dropdown .blog {
    display: none;
}

button {
    border-style: none;
    background: #007dd1;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    width: 90%;

}

.secondemail {
    display: none;
}







/* Responsiveness */

/* Drop Down Menu */
@media (max-width:528px) {

    .middle-nav {
            display: none;
        }

    .navcontainer {
        display: flex;
        flex-direction: column;

    }

    .navcontainer .dropdown {
        flex: 1;
        background: #007dd1;
        display: none;
    }

    .dropdown .home, .dropdown .market, .dropdown .blog {
        display: block;
        padding: 10px;
        border: 1px solid white;
    }

    .title {
        flex: 1;
        width: 100%;
        background-color: white;
    }

    .title .brand {
        display: none;
    }

    .navcontainer .title .fa-solid.fa-bars {
        display: block;
        font-size: 1.4em;
        color: #111111;
        padding: 10px;
    }

}



@media (max-width: 437px) {

    .Answer .secondemail {
        display: none;
    }
    .Answer .SocialsLink {
    padding: 10px;
    font-size: 1.4em;
    } 

    div.Answer p.links {
        padding: 10px 10px;

    }

    .AboutUs {
        font-size: 1.8em;
    }

    .FAQExpandedContainer .Answer form label textarea {
        height: 60px;
    }
    
    form label {
        padding: 5px 0;
    }
}


@media (max-width: 800px) {

    
    .home {
        padding-left: 40px;
    }
    
    .FAQContainer {
        flex-direction: column;
    }

    #resume {
        display: none;
    }
    
    .descrip {
        display: none;
    }


    form label textarea {
        height: 80px;

    }

    
    .SocialsLink {
        padding: 20px;
    }

    .Answer p {
        font-size: .7em;
        line-height: 120%;
    }

    .email {
        display: none;
    }

    .secondemail {
        display: block;

    
    }

}
    
    
    
    
    @media (max-width: 1300px) {
    
    .Footer {
        display: none;
    }
    
    .ResourceContainer {
        display: none;
    }

    form {
        width: 90%;
    }

    label textarea {
        height: 160px;

    }

    
    }