
 @font-face {
     font-family: Roc;
     src: url(fonts/Roc-Grotesk/rocgroteskwide-black.otf) format("truetype");

}

@font-face {
    font-family: RocMedium;
    src: url(fonts/Roc-Grotesk/rocgrotesk-medium.otf) format("truetype");

}

 @font-face {
    font-family: RocRegular;
    src: url(fonts/Roc-Grotesk/rocgroteskcomp-regular.otf) format("truetype");

}


body {
    background: #111111;
    width: 100%;
    margin:0 auto;
    padding:0px;
    scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #007dd1;
    border-radius: 20px;
    border: 0px solid #007dd1;
  }




a {
    text-decoration: none;
    color:black;
    font-size: .9em;
    font-weight: 600;
}

a:hover {
    color: rgb(255, 253, 117);
}


/* navigation */ 

.navcontainer {
    display: flex;
    padding: 50px 0 0px 0;
    font-family: 'Sora', sans-serif;
    width: 65%;
    color: white;
    margin: 0px auto;
}

.navcontainer a {
    color: white;
}


.title {
    height:40px;
    display: flex;
    align-items: center;
    font-size:1.5em;
    font-weight: 900;
}

.middle-nav {
    height:40px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    flex:1;

}


a.home, a.market, a.blog {
    padding-right: 30px;
    color: #f1faff;
}

.home:hover, .market:hover, .blog:hover {
    color: rgb(255, 253, 117);
}

.home {
    padding-left: 70px;
}

.right-nav {
    height:40px;
    margin-top: 50px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}


.navbutton, .connect, .EN {
    border: 0px solid;
    padding: 5px 10px;
    box-shadow: 5px 5px 0px -1px #007dd1;
    -webkit-box-shadow: 5px 5px 0px -1px #007dd1;
    -moz-box-shadow: 5px 5px 0px -1px #007dd1;
}

.navbutton-two {
    position: relative;
    margin-left: 10px;
    padding: 5px 0px 0px 500px;
    border-radius: 0%;
}


.connect {
    font-size: 1em;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: 1px;
    background-color: #c6fb6e;
}

.EN {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: white;
    color: black;
    border-radius: 100%;
}

.right-nav i {
    color: black;
}

.navbutton-two a:hover {
    color: #007dd1;
}

.navbutton-two i:hover {
    color: #007dd1;
}


.middle-nav .SocialsLink {
    display: none;
}


/* about */ 

.head-background {
    margin-top: 30px;
    width: 100%;
    height: 800px;
    background: #111111; 
    /* background: url(images/Icon-Parallax.gif); */
    background-repeat: repeat;
}

.headcontainer {
    display: flex;
    width: 65%;
    margin: 0 auto;
   
}


.about {
    height:635px; 
    flex: 1.5;
}

.about-title {
    font-family:'RocMedium', sans-serif;
    font-size:4.5em;
    font-weight: 300;
    line-height: 100%;
    margin: 0;
    padding-top: 100px;
    color: #ffeea0;

}


.about-descr {
    font-family: 'Sora', sans-serif;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
    padding-top:20px;
    padding-bottom: 50px;
    color: white;
}


.aboutbutton-one, .aboutbutton-two {
    border: 2px solid;
    padding: 18px 28px;
    box-shadow: 5px 5px 0px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 5px 5px 0px -1px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px -1px rgba(0,0,0,1);
    font-family: 'Sora', sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
}

.aboutbutton-one {
    margin: 0 10px 0 0px;
    background-color: #6ec3fb;
}

.aboutbutton-two {
    background-color: white;
    text-decoration: none;
    color:black;
   
}

.aboutbutton-two a:hover {
    color: #007dd1;
}

.allrights {
    color: white;
    padding-top: 100px;
    font-size: .9em;
    display: none;
}


/* Picture */

.nftcardcontainer {
    height:300px; 
    flex: 1;
    text-align: center;
    padding-left:7%;
    font-family: 'Sora', sans-serif;
    letter-spacing: 0px;
}


/* .nftcard-top {
    display: flex; 
    flex-direction: column; 
    border: 0px solid #007dd1;
    position: absolute;
    border-radius: 100%;
    height: 32em;
    width: 32em;
    margin-left: 2em;
    margin-top: 2em;

} */


/* .cardimage {
    border-bottom: 0px solid;
    height: 32em;
    width: 32em;
    border-radius: 100%;
} */

.cardimagesize {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 5px 5px 0px -1px #007dd1;
    -webkit-box-shadow: 8px 8px 0px -1px #007dd1;
    -moz-box-shadow: 8px 8px 0px -1px #007dd1;background:#e7e8d5;
}


/* .circleimage {
    height: 35em;width: 35em;
    background-color: #bbb;
    border-radius: 50%;
    border: 2px solid black; 
    display: inline-block;
    background-image: linear-gradient(145deg, #007dd1 45.45%, #111111 45.45%, #111111 50%, #007dd1 50%, #007dd1 95.45%, #111111 95.45%, #111111 100%);
    background-size: 38.36px 26.86px;
    box-shadow: 5px 5px 0px -1px rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 0px -1px rgb(255, 255, 255);
    -moz-box-shadow: 5px 5px 0px -1px rgb(255, 255, 255);
} */



/* Recent Projects */
/* 

.ArtContainer {
    margin-top: 150px;
    padding: 5em 0;
    display: flex;
}


.ArtSection {
    height:300px;
    width: 416px;
}

.ArtPadding {
    padding: 50px;

}

.ArtContent {
    font-family: 'Sora', sans-serif;
    text-align: left;
    font-weight: 700;
    margin: 0;
}

.ArtNumber {
    font-size:5em;
    line-height: 100%;
}

.ArtTitle {
    font-size: 1.3em;
    line-height: 150%;
} */






/* Footer */


.FooterContainer {  
    Padding: 70px 0 60px 0;
    width: 65%;
    margin: 0 auto;
    color: white;
    
}


.FooterTitle {
    width: 100%;
    align-items: center;
    font-family:'Sora', sans-serif;
    font-size:1.5em;
    font-weight: 900;
    display: flex;
}

.foot-title {
    padding-right: 40px;
}



.SocialsLink {
    text-decoration: none;
    color:white;
    font-size: .8em;
    font-weight: 400;
    padding: 0 10px 0 10px;
    color: white;
}

.rights-container {
    flex: 1;

}

.rights {
    text-align: right;
    font-size: .5em;
    font-weight: 400;
}



/* Edits for Responsivness  */

#descriptwo {
    display: none;
}

.button-one, .button-two {
    display:none;
}


.nftcardcontainer .about-title, .nftcardcontainer #descriptwo {
    display: none;
}

#descripthree {
    display: none;
}

.fa-solid.fa-bars {
    display: none;
}

.title button {
    background: transparent;
    border-style: none;
}

.dropdown .home, .dropdown .market, .dropdown .blog {
    display: none;
}




/* Responsive */


@media (max-width: 450px) {

    .head-background .headcontainer .nftcardcontainer .cardimage {
        width: 100%;
        height: 350px;
    }
    
    .head-background .headcontainer .nftcardcontainer .cardimage .cardimagesize {
        width: 100%;
        height: 350px;
    }
}


@media (min-width: 450px) and (max-width: 580px) {

    .nftcardcontainer .cardimage {
        width: 100%;
        height: 460px;
    }
    
    .nftcardcontainer .cardimage .cardimagesize {
        width: 100%;
        height: 460px;
    }
}



@media (max-width: 800px) {
    .headcontainer {
        width: 90%;
    }

    body .navcontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navcontainer .dropdown {
        flex: 1;
        background: #111111;
        display: none;
    }
    
    .dropdown .home, .dropdown .market, .dropdown .blog {
        display: block;
        padding: 10px;
        border: 0px solid #050505;
        text-align: center;
    }
    .dropdown .home:hover, .dropdown:hover .market:hover, .dropdown .blog:hover {
        background: #007dd1;
    }

    .title {
        flex: 1;
        width: 100%;
        background-color: #111111;
    }

    .title .brand {
        display: none;
    }

    .title .fa-solid.fa-bars {
        display: block;
        font-size: 2.5em;
        color: #007dd1;
        padding: 10px;
    }

    .middle-nav {
        display: none;
    }

    .navcontainer .middle-nav .SocialsLink {
        display: none;
    }

    .about .aboutbutton-one, .about .aboutbutton-two {
        display: none;
    }

    .about .button-one, .button-two {
        display:unset;
        border: 2px solid;
        padding: 18px 28px;
        width: 100%;
        box-shadow: 5px 5px 0px -1px rgba(0,0,0,1);
        -webkit-box-shadow: 5px 5px 0px -1px rgba(0,0,0,1);
        -moz-box-shadow: 5px 5px 0px -1px rgba(0,0,0,1);
        font-family: 'Sora', sans-serif;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .button-one {
        margin: 0 10px 0 0px;
        background-color: #6ec3fb;
    }
    
    .button-two {
        background-color: white;
        text-decoration: none;
        color:black;
       
    }

    .nftcardcontainer .nftcard-top {
        width: 100%;
        height: 360px;
    }

    .nftcardcontainer .nftcard-top .cardimage {
        width: 100%;
        height: 360px;
    }

    .nftcardcontainer #descripthree {
        display: block;
        font-size: 1.1em;
    }

    .headcontainer .nftcardcontainer .about-title {
        font-size: 2.5em;

    }

    .headcontainer .nftcardcontainer #descriptwo {
        display: none;
    }



}

@media (max-width: 800px) {


    .nftcardcontainer .navbutton-two {
        display: none;
    }

    .nftcardcontainer .nftcard-top {
        margin: 0;
    }

    .about .aboutbutton-two {
        width: 40%;

    }

    .about .aboutbutton-one {
        width: 20%;
    }


}

@media (max-width: 660px) {
    .FooterTitle {
        flex-direction: column;
    }

    .rights {
        text-align: center;
    }

    i.fa-twitter {
        padding-left: 0px;
    }

    .foot-title {
        padding-right: 0px;
    }

}


@media (max-width: 800px) {

.nftcardcontainer .about-title {
    display: block;
    font-size: 3em;
    padding-top: 30px;
}

.nftcardcontainer #descriptwo {
    display: block;
    font-size: 1.3em;
}

.about {
    margin-top: 100px;
    text-align: center;
}

.aboutbutton-one, .aboutbutton-two {
    width: 30%;
    display: inline-block;
}


.cardimage {
    width: 100%;
    height: 100%;
}

#descrip {
    display: none;
}

.about .about-title {
    display: none;
}

#descriptwo {
    display: block;
}

#resume {
    display: none;
}

.home {
    padding-left: 40px;
}

.EN {
    display: none;
}

.home, .market, .blog {
    display: none;
}

.middle-nav .SocialsLink {
    display: block;
    padding: 0 20px;
}

.fa-twitter {
    padding-left: 30px;
}

}




@media (max-width: 1300px) {
    .responsiveLayout {
        display: flex;
        flex-direction: column;
    }

    .head-background {
        flex: 1;
    }

    .headcontainer {
        flex-direction: column-reverse;
    }
    .nftcardcontainer {
        flex: 1;
        padding: 0 ;
    }

    .about {
        flex: 1;
        margin-bottom: 80px;
    }



    .FooterContainer {
        flex:1;
    }
}